@import './status/error.css';
@import './status/warning.css';
@import './readonly.css';

.SliderRange__container {
  position: relative;
  height: 100%;
}

.SliderRange__container .ant-input-number {
  width: 100%;
}
